<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  DirectorySlash Off

  # Serve files directly if they exist
  RewriteCond %{REQUEST_FILENAME} -f
  RewriteRule ^ - [L]

  # Send everything else to index.html
  RewriteRule . /index.html [L]
</IfModule>
